<!doctype html>
<html lang="en-US">
<head>
   <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Coding Template</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
  <link rel="stylesheet1" href="scss/styles.scss">
</head>

<body>
  <div id="DivUpperBox" >
    <img style="display: block; margin-left: auto; margin-right: auto; " src="fly22.PNG" alt="Peter" width="1000" height="400">
  </div>
  <div id="app">
    <div>
      <ul v-if=measurements.length>
       <div v-for="(measurement, index) in measurements">
         <div v-if="index == measurements.length -1">
         <p>
           
           Temperature
           {{measurement.temperature}},  
           pressure
           {{measurement.pressure}},
           Humidity
           {{measurement.humidity}}
         
         </p>
        </div>
       </div>
      </ul>
    </div>


  <input type="Destination" v-model.string="Destination">
  <button id="all" v-on:click="getAllBookings">get All Bookings</button>
  <ul v-if=Bookings.length>
    <li id="LiListe" v-for="(booking, index) in Bookings">
      
      <h3>
        Destination:
        {{booking.destination}}
      </h3>
      <p>
        FlyNummer:
        {{booking.flightNr}}
      </p>
      <p>
        firma:
        {{booking.company}}
      </p>
      <p>
        tid:
        {{booking.travelTime}} timer
      </p>
      
      <button v-on:click="selectedFlight(index)">Vis mere</button>
      <ul v-if="show == index">
        <p>
          CO2 udledning per. passager:
          {{CO2PerPassenger}}
        </p>
        <p>
          Temperatur:
          {{currentTemp}}
        </p>
        <p>
          Vindstyrke:
          {{wind}}
        </p>
        <p>
          Vejrbeskrivelse:
          {{overcast}}
        </p>
        <button v-on:click="BookSeat()">Bestil</button>
      </ul>
      <div v-else>
        
      </div>
    </li>
  </ul>
  <div v-else>
    <p>
      Element ikke fundet
    </p>
  </div>



  </div>
    
  <script src="bundle.js"></script>
</body>
</html>
