<!doctype html>
<html lang="en-US">
<head>
   <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Coding Template</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
</head>

<body>
  <div id="DivUpperBox" style="border-style: groove; border-color: black; height: 250px;">
    <img style="display: block; margin-left: auto; margin-right: auto; " src="fly22.PNG" alt="Fly Logo" width="1000" height="400">
  </div>
  <div id="app">
    
    <div>
      <ul v-if=measurements.length>
       <div v-for="(measurement, index) in measurements">
         <div v-if="index == measurements.length -1">
          <div class="w3-container">
            <h2>Measurements</h2>
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Measurements</button>
          
            <div id="id01" class="w3-modal">
              <div class="w3-modal-content">
                <div class="w3-container">
                  <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                  <p>
                    Temperature: {{measurement.temperature}}°C
                    <br/>
                    Pressure: {{measurement.pressure}} hPa
                    <br/>
                    Humidity: {{measurement.humidity}}%
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </ul>
    </div>

  <input type="Destination" v-model.string="Destination">
  <button id="all" v-on:click="getAllBookings">get All Bookings</button>
  <ul id="RejseListe" v-if=Bookings.length>
    <li v-for="(booking, index) in Bookings" >
      <p>
        FlyNummer:
        {{booking.flightNr}}
      </p>
      <h3>
        Destination:
        {{booking.destination}}
      </h3>
      <p>
        firma:
        {{booking.company}}
      </p>
      <p>
        tid:
        {{booking.travelTime}}
      </p>
      
      <button v-on:click="selectedFlight(index)" v-bind:id="booking.flightNr">Vis mere</button>
      <ul v-if="show == index">
        <p>
          CO2 udledning per. passager:
          {{CO2PerPassenger}}
        </p>
        <p>
          Temperatur:
          {{currentTemp}}
        </p>
        <p>
          Vindstyrke:
          {{wind}}
        </p>
        <p>
          Vejrbeskrivelse:
          {{overcast}}
        </p>
        <button v-on:click="BookSeat()">Bestil</button>
      </ul>
      <div v-else>
        
      </div>
    </li>
  </ul>
  <div v-else>
    <p>
      Element ikke fundet
    </p>
  </div>



  </div>
    
  <script src="bundle.js"></script>
</body>
</html>
