$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}
#LiListe{
    border-style: groove;
}

#DivUpperBox{
    border-style: groove; border-color: black; height: 250px;
}